@model SCE_Website.ViewModel.CourseViewModel
@using SCE_Website.Models

@{
    ViewBag.Title = "ShowCoursesSchedule";
}

    <table class="table table-hover">
        <thead>
            <tr class="table-primary">
                <th scope="col">Course Name</th>
                <th scope="col">Classroom</th>
                <th scope="col">Day</th>
                <th scope="col">Starting Hour</th>
                <th scope="col">Ending Hour</th>
            </tr>
        </thead>
        @{
            foreach (Course obj in Model.Courses)
            {
                <tbody>
                            <tr>
                                <td>@obj.CourseName</td>
                                <td>@obj.Classroom</td>
                                <td>@obj.Day</td>
                                <td>@obj.StartHour</td>
                                <td>@obj.FinishHour</td>
                            </tr>
                </tbody>
            }

        }
    </table>